@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 36 56% 96%;
    --foreground: 22 35% 19%;
  }
  body {
    @apply bg-cream-50 text-ink-900 font-body;
    font-feature-settings: "cv11", "ss01";
  }
  h1, h2, h3, h4 {
    @apply font-display tracking-tight;
  }
  .tabular-nums {
    font-variant-numeric: tabular-nums;
  }
}
